asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
colorama==0.4.6
DateTime==5.5
Django==4.2
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
drf-yasg==1.21.8
execnet==2.1.1
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
packaging==24.2
pluggy==1.5.0
PyJWT==2.10.1
pytest==8.3.4
pytest-shutil==1.8.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
SafeDelete==0.0.2
six==1.17.0
sqlparse==0.5.3
termcolor==2.5.0
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
zope.interface==7.2
